a {
	color: #10b3ff;
	text-decoration: none;
}
a:hover {
	color: white;
}

body {
	background-image: linear-gradient(bottom, rgb(18,18,18) 35%, rgb(56,56,56) 84%);
	background-image: -o-linear-gradient(bottom, rgb(18,18,18) 35%, rgb(56,56,56) 84%);
	background-image: -moz-linear-gradient(bottom, rgb(18,18,18) 35%, rgb(56,56,56) 84%);
	background-image: -webkit-linear-gradient(bottom, rgb(18,18,18) 35%, rgb(56,56,56) 84%);
	background-image: -ms-linear-gradient(bottom, rgb(18,18,18) 35%, rgb(56,56,56) 84%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.35, rgb(18,18,18)),
		color-stop(0.84, rgb(56,56,56))
	);

	color: white;
}

.topBar {
	padding: 14px 40px;
	text-transform: uppercase;
}
	.topBar a {
		margin-right: 2em;
		font-size: 24px;
	}

.icon {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -2px;
	width: 25px;
	height: 25px;
	
	cursor: pointer;
	background: center top no-repeat;
}
.upload.icon {
	background-image: url('../img/upload_icon.png');
}