body {
	padding-bottom: 500px;
}
.topBar .upload {
	position: relative;
	top: 1px;
	margin-right: 4px;
}
.album {
	padding: 10px 30px 10px 200px;
	min-height: 120px;
	position: relative;
	clear: both;

	font-weight: bold;
	color: #a5a5a5;	
	font-size: 24px;

	background-image: linear-gradient(bottom, rgba(255,255,255,0.23) 100%, rgba(0,0,0,0.23) 0%);
	background-image: -o-linear-gradient(bottom, rgba(255,255,255,0.23) 100%, rgba(0,0,0,0.23) 0%);
	background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0.23) 100%, rgba(0,0,0,0.23) 0%);
	background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0.23) 100%, rgba(0,0,0,0.23) 0%);
	background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0.23) 100%, rgba(0,0,0,0.23) 0%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgba(255,255,255,0.23)),
		color-stop(0, rgba(0,0,0,0.23))
	);
}
	.album img {
		position: absolute;
		left: 40px;
		top: 10px;
		width: 120px;
		height: 120px;
	}
	.album:hover img {
		filter: blur(10px);
			-webkit-filter: blur(10px);
	}
	.album .play.icon {
		background-image: url('../img/play_icon.png');
	}
	.album .upload.icon {
		float: right;
		margin-top: 38px;
	}
	.album .albumName .playActions {
		position: absolute;
		left: 74px;
		top: 47px;
		display: none;
	}
	.album:hover .albumName .playActions {
		display: block;
	}
		.album .enque.icon {
			background-image: url('../img/enque_icon.png');
		}
		.album .artistName {
			text-transform: uppercase;
		}
	.album .playActions {
	}
	.album .fileActions{
		display: none;
	}
	.album .albumName {
		color: #e4e4e4;
		font-size: 48px;
		line-height: 1.1em;
		padding: 18px 0 30px;
	}
	.album .track {
		margin: 10px 0;
		line-height: 1.1em;
		clear: both;
	}

.bottomBar {
	position: fixed;
	bottom: 0;
	width: 100%;

	background-image: linear-gradient(bottom, rgb(28,28,28) 90%, rgb(93,93,93) 100%);
	background-image: -o-linear-gradient(bottom, rgb(28,28,28) 90%, rgb(93,93,93) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(28,28,28) 90%, rgb(93,93,93) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(28,28,28) 90%, rgb(93,93,93) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(28,28,28) 90%, rgb(93,93,93) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.9, rgb(28,28,28)),
		color-stop(1, rgb(93,93,93))
	);
}

.queWrapper {
	overflow-x: scroll;
}

#que {
	width: 2000px;
}
	#que .tile {
		float: left;
		margin: 10px;
		text-align: center;	
		width: 120px;
		position: relative;
	}
		#que .tile img {
			width: 100px;
		}
		#que .active.tile img {
			box-shadow: 0 0 20px rgba(16, 179, 255, 0.7);
		}

		#que .tile .play,
		#que .tile .pause {
			position: absolute;
			top: 20px;
			left: 25px;
			width: 60px;
			height: 60px;
			background: top right no-repeat;
			display: none;
		}
		#que .tile .play {
			background-image: url('../img/play_icon_medium.png');
		}
		#que .tile .pause {
			left: 23px;
			background-image: url('../img/pause_icon_medium.png');
		}
		#que .playing.tile .pause {
			display: block;
		}
		#que .tile:hover .play {
			display: block;
		}
		#que .playing.tile:hover .play {
			display: none;
		}
	#que .tile .trackViewName {
		color: #e4e4e4;
		font-weight: bold;
		font-size: 18px;
		line-height: 1.08em;
	}
	#que .tile .artistName {
		color: #a5a5a5;
		font-weight: bold;
		font-size: 11px;
		text-transform: uppercase;
	}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	a.icon {
		width: 40px;
		height: 40px;
		background-size: 100%;
	}
	.album .playActions {
		float: left;
	}
	.topBar,
	.upload.icon
	{
		display: none;
	}
	#que .tile:hover .play {
		display: none;
	}

}