.album {
	padding: 10px 30px 10px 200px;
	min-height: 120px;
	position: relative;

	font-weight: bold;
	color: #a5a5a5;	
	font-size: 24px;

	background-image: linear-gradient(bottom, rgba(255,255,255,0.23) 100%, rgba(0,0,0,0.23) 0%);
	background-image: -o-linear-gradient(bottom, rgba(255,255,255,0.23) 100%, rgba(0,0,0,0.23) 0%);
	background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0.23) 100%, rgba(0,0,0,0.23) 0%);
	background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0.23) 100%, rgba(0,0,0,0.23) 0%);
	background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0.23) 100%, rgba(0,0,0,0.23) 0%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgba(255,255,255,0.23)),
		color-stop(0, rgba(0,0,0,0.23))
	);
}
	.album img {
		position: absolute;
		left: 40px;
		top: 10px;
		width: 120px;
		height: 120px;
	}
	.album .icon {
		display: inline-block;
		margin-right: 5px;
		vertical-align: middle;
		position: relative;
		top: -2px;
		width: 25px;
		height: 25px;
		
		cursor: pointer;
		background: center top no-repeat;
	}
		.album .play.icon {
			background-image: url('../img/play_icon.png');
		}
		.album .enque.icon {
			background-image: url('../img/enque_icon.png');
		}
	.album .artistName {
		text-transform: uppercase;
	}
	.album .albumName {
		color: #e4e4e4;
		font-size: 48px;
		line-height: 1.7em;
		padding-bottom: 30px;
	}
	.album .track {
		line-height: 1.2em;
	}
