.topBar {
	max-width: 900px;
	margin: 0 auto;
	padding: 14px 0;
}

.uploadArea {
	margin: 50px auto 20px;
	padding: 50px;
	position: relative;
	max-width: 800px;
	min-height: 500px;

	background: rgba(204,204,204,0.24) center center no-repeat;
	border-radius: 10px;
	border: 10px dashed #b7b7b7;
	text-align: center;
}
	.uploadArea.showMessage {
		background-image: url('../img/upload_message.png');
	}
.albumArt {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: 100%;
	background-position: center center;
	opacity: 0.2;
	z-index: -2;
}
#progressIndicator {
	position: absolute;
	z-index: -1;
	left: 50%;
	top: 50%;
	margin: -112px -112px;
}
.inputs {
	color: #10b3ff;
	font-size: 24px;
}

input {
	padding: 5px;

	border: 0;
	border-radius: 5px;
	background: rgba(0,0,0,0.1);
	color: #10b3ff;
	font-size: 24px;
	width: 48%;
}
button {
	padding: 2px 10px;
	margin: 10px;
	font-size: 19px;
	color: #5a5a5a;

	border: 0;
	border-radius: 5px;

	background-image: linear-gradient(bottom, rgb(24,217,255) 100%, rgb(8,144,255) 0%);
	background-image: -o-linear-gradient(bottom, rgb(24,217,255) 100%, rgb(8,144,255) 0%);
	background-image: -moz-linear-gradient(bottom, rgb(24,217,255) 100%, rgb(8,144,255) 0%);
	background-image: -webkit-linear-gradient(bottom, rgb(24,217,255) 100%, rgb(8,144,255) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(24,217,255) 100%, rgb(8,144,255) 0%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(24,217,255)),
		color-stop(0, rgb(8,144,255))
	);
}
	input#artist {
		text-align: right;
	}

.album {
	margin: 20px 0;
}
	.albumInfo {
		display: none;
	}
	.track {
		color: #a5a5a5;
		font-size: 24px;
		font-weight: bold;
		text-align: left;
		line-height: 1.3em;
		padding: 0 5px;
	}
	.track:nth-child(2n) {
		background: rgba(0,0,0,0.1);
		border-radius: 5px;
	}
		.track .playActions {
			display: none;
		}

		.track .fileActions a {
			font-weight: normal;
			float: right;
			margin-left: 10px;
		}
		.track .fileActions a:hover {
			color: white;
		}