{% extends 'MusicBundle::base.html.twig' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/music.css') }}" />
	<script type="text/javascript" src="{{ asset('js/music.js') }}"></script>
{% endblock %}

{% block topBar %}
	<a href="{{ path('phplayer_music_upload_index') }}"><i class="icon upload"></i>Upload</a>
{% endblock %}

{% block main %}
	{% include "MusicBundle:Music:_list.html.twig" %}

	{% if not haveTracks %}
		<p>No tracks found! Why don't you try <a href="{{ path('phplayer_music_upload_index') }}">uploading</a> some albums?</p>
	{% endif %}

	<div class="bottomBar">
		<div class="queWrapper">
			<div id="que" class="que">
			</div>
		</div>
	</div>
{% endblock %}
